---
# Front Matter Blank
---
$font-stack: Helvetica, sans-serif;
$font-color: #190442;
$primary-color: #a9abde;
$secondary-color: #d3d4ec;

body {
    font: 100% $font-stack;
    color: $font-color;
    background: $secondary-color;
}

nav{
    ul{
        list-style: none;
    }
    li{
            display: inline-block;
            margin-right: 1px
    }
    a{
        color: white;
        background: $font-color;
        text-decoration: none;
        padding: 5px
    }  
}
