---
# Front Matter Blank
---
$font-stack: Helvetica, sans-serif;
$font-color: #229f26;
$primary-color: #a9abde;
$secondary-color: #a9abde;

body {
    font: 100% $font-stack;
    color: $font-color;
    background-color: $primary-color;
}
