---
# Front Matter Blank
---
$font-stack: Helvetica, sans-serif;
$font-color: #190442;
$primary-color: #a9abde;
$secondary-color: #d3d4ec;

body {
    font: 100% $font-stack;
    color: $font-color;
    background: $secondary-color;
}

nav{
    color: white;
    ul{
        list-style: none
    }
    li{
            display: inline-block;
            margin-right: 10px;
    }
}

.button{
    color: $primary-color;
    background: $font-color;
}
